.Navigation-container {
    background-color: #333;
    color: #fff;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  
  .Navigation-container:hover {
    transform: scale(1.01);
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 10px #888;
  }

  .Navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .Navigation-wrapper a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .Navigation-wrapper a:hover {
    color: #3a56d3;
    transform: scale(1.1);
  }
  
  .Navigation-wrapper a.active {
    font-weight: bold;
    border-bottom: 1px solid #3a56d3;
  }
  